header {
  text-align: center;
}
nav {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  
  background-color: gray;
  
  
}

#featured-property {
  text-align: center;
  

}
#featured-properties p {
  text-align: center;
  width: 800px;
}
 
div {
  text-align: center;
  width: 25%;
  float: left;
  background-color: brown;

}